.banner-index {
  background: linear-gradient(rgba(0,0,0, 0.3)), url('./cocktail-banner2.png');
  background-size: cover;
  color: white;
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  h2 {
    font-size: 24px;
  }
  h1 {
    margin-left: 32px;
  }
}

.banner-show {
  background: linear-gradient(rgba(0,0,0, 0.3)), url('./cocktail-banner2.png');
  background-size: cover;
  color: white;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
}
